<html>
<!--main body of html-->
<!--added styling-->
<body style="background-color:powderblue;">
    <h2 style="font-family:courier;">
        Add a new Country
    </h2>
   <!--perform the action /add-->
    <form action="/add" method="POST">

    <label>
       Code
    </label>
    <input type="text" name="co_code">
    <br>

    <label>
       Name
    </label>
    <input type="text" name="co_name">
    <br>
   
    <label>
      Details
    </label>
    <input type="text" name="co_details">
    <br>
    <input type="submit" value="OK">
  
</form>
</body>


</html>