<html>

<body style="background-color:powderblue;">
    <h2 style="font-family:courier;">
        Add New
    </h2>
   <!--perform the addHead post method-->
    <form action="/addHead" method="POST">
       
    <label>
        Country ID
    </label>
    <input type="text" name="_id">
    <br>
    <br>
    <label>
       Name
    </label>
    <input type="text" name="headOfState">
    <br>
    <br>
    <!--submit the new row-->
    <input type="submit" value="OK">
  
</form>
</body>


</html>