<html>

<body style="background-color:powderblue;">
    <h2 style="font-family:courier;">
        Add a new Country
    </h2>
   <!--post method is performed, edit function-->
    <form action="/edit" method="POST">

    <label>
       Code
    </label>
    <!--value is displayed based on co_code and cant be edited-->
    <input value="<%= country.co_code %>" name="co_code" readonly>
    <br>

    <label>
       Name
    </label>
    <input type="text" name="co_name">
    <br>
   
    <label>
      Details
    </label>
    <input type="text" name="co_details">
    <br>
    <input type="submit" value="OK">
  
</form>
</body>


</html>