<html>

<body style="background-color:powderblue;">
<!--main page of the app-->
<!--link to each section of the app-->
    <a href="http://localhost:3000/listcountries" style="font-family:courier;">Countries </a> 
    <br>
    <a href="http://localhost:3000/listcities" style="font-family:courier;">Cities</a> 
    <br>
    <a href="http://localhost:3000/listheadofstate" style="font-family:courier;">Heads of State</a> 
    <br>
    <table>

</body>
</html>
